# OSX
#
.DS_Store

#######################################################################################
####################################    FRONTEND   ####################################
#######################################################################################

# Xcode
#
frontend/build/
frontend/*.pbxuser
frontend/!default.pbxuser
frontend/*.mode1v3
frontend/!default.mode1v3
frontend/*.mode2v3
frontend/!default.mode2v3
frontend/*.perspectivev3
frontend/!default.perspectivev3
frontend/xcuserdata
frontend/*.xccheckout
frontend/*.moved-aside
frontend/DerivedData
frontend/*.hmap
frontend/*.ipa
frontend/*.xcuserstate
frontend/project.xcworkspace

# Android/IntelliJ
#
frontend/build/
frontend/.idea
frontend/.gradle
frontend/local.properties
frontend/*.iml

# node.js
#
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log

# BUCK
frontend/buck-out/
frontend/\.buckd/
frontend/*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

frontend/*/fastlane/report.xml
frontend/*/fastlane/Preview.html
frontend/*/fastlane/screenshots

# Bundle artifact
frontend/*.jsbundle
